{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
 <h3 class="text-white my-5">About Page</h3> 
 <p>Study Blog is creating the next generation of coders who will change their cities, their countries, and the world. Coding Elements curates the best curriculum in high-growth areas such as machine learning, data science, and full-stack development - with input from the industry. The online and classroom courses offered by Coding Elements have been rated favorably by thousands of students
      and have helped hundreds of students secure meaningful jobs.</p>
</div>

{% endblock content %}